.fileview_main {
  background-color: aquamarine;
  width: 60vw;
  max-width: 1500px;
  min-width: 1000px;

  min-height: 200px;

  video {
    width: 100%;
    height: auto;
    top: 0%;
  }

  #waveform {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
  }

  .load_file_main {
    border: 4px solid black;
    color: black;
    height: 250px;
  }
}
.noise_reduction_main {
  display: flex;
  flex-direction: column;

  .noise_reduction_top {
    display: flex;
    justify-content: space-between;
  }

  .noise_reduction_bottom {
    .reduction_controls {
      display: flex;
      justify-content: space-evenly;
    }
    .reduction_buttons {
      display: flex;
      justify-content: center;
    }
    .reduction_visualizer {
      border: 5px solid red;
      width: 25vw;
      height: 12vh;
    }
    .progress {
      display: flex;
      justify-content: center;
    }
  }
}
